/* ===========================forms======================== */
.form1Holder{width: 100%;padding-top: 5px;height: 370px;position: relative;display: block;}
#form1{
	text-transform: none;
	width: 100%;
	font-size: 13px;
	height: 100%;
	position: relative;
}
#form1>a{
	float: left;
	text-transform: uppercase;
	font-size: 10px;
}

#form1 select{
	visibility: hidden;
	float: left;
}
.select_1{
	width: 269px;
    position: relative;
    float: left;
}
.select_2{
	width: 67px;
    position: relative;
    float: left;
}
.select_3{
	width: 61px;
    position: relative;
    float: left;
}
.select_4{
	width: 67px;
    position: relative;
    float: left;
}

.searchButton{
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-top: 19px;
}
#form2{
	text-transform: none;
	width: 100%;
	font-size: 12px;
}

#form2 label{
	text-transform: none;
	width: 100%;
	font-size: 13px;
    color: #fff;
    font-family: Tahoma;
	float: left;
	padding-bottom: 8px;
}

#form2 select{
	visibility: hidden;
	float: left;
}

.radioHolder{
    position: relative;
    float: left;
    padding-top: 25px;
}
.radioHolder > ul{}
.radioHolder ul >li{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 5px;
}
.radioText{
    color: #5f5f5f;
    font-size: 13px;
    margin-left: 10px;
}
.inp1{width: 150px;position: relative;float: left;display: block;}
.inp2{width: 150px;position: relative;float: left;display: block; padding-top: 15px;}
/* -------------
 * Inputs
 * ------------- */
.jqTransformInputWrapper {
	height: 25px;
	padding: 0px;
	border: 1px solid #2f2f2f;
	width: 294px;
	display: inline-block;
	background: #FFF;
}

.jqTransformInputInner {
	padding: 0px;
	margin: 0px;
	height: 25px;
}

.jqTransformInputInner div {
	height: 18px;
	margin:0px 0px 0px 8px;
}

.jqTransformInputInner div input {
	font-family:Tahoma, sans-serif;
	font-size: 10px;
	line-height: 22px;
	vertical-align: middle;
	height: 26px;
	color: #848485;	
	border: none;
	background:transparent;
}

/*  IE6 */
* html .jqTransformInputInner div input {
	padding: 6px 0 0 0;
	margin: 0 0 0 -8px;
	height:24px;
}
/* Ie7 */
*+ html .jqTransformInputInner div input {
	padding: 6px 0 0 0;
	margin-left:-10px;
	height:24px;
}

/*hover*/
.jqTransformInputWrapper_hover{ background-position: left -31px ;}
.jqTransformInputWrapper_hover div.jqTransformInputInner{ background-position: right -31px ;}

/*focus*/
.jqTransformInputWrapper_focus{ background-position: left -62px ;}
.jqTransformInputWrapper_focus div.jqTransformInputInner{ background-position: right -62px ;}



.jqTransformSafari .jqTransformInputInner div {
	position: relative;
	overflow: hidden;
	margin: 0px 2px;
	height: 25px;
}
.jqTransformSafari .jqTransformInputInner div input {
	background-color: none;
	position: absolute; 
}

/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 100%;
	position:relative;
	height: 25px;
	border: 1px solid #2f2f2f;
	display: inline-block;
	margin: 1px 4px 10px 0;
}

.jqTransformSelectWrapper div span {
	font-size: 12px;
	float: none;
	position: absolute;
	white-space: nowrap;
	height: 25px;
	overflow: hidden;
	cursor:pointer;
    
	padding: 0 8px;
	color: #404040;
	background: #FFF;
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 1px;
	width: 24px;
	height: 23px;
	background: url(../images/combo.jpg) no-repeat 50% 50%;
	top: 1px;
}

.jqTransformSelectWrapper ul {
	position: absolute;
	width: 100%;
	top: 27px;
	left: 0px;
	list-style: none;
	background-color: #171717;
	display: none;
	top: 27px;
	padding: 0px;
	height: 86px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
	left: -1px;
	border: 1px solid #2f2f2f;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
	color: #404040;
	background-color: #FFF;
	font-size: 12px;
}

.jqTransformSelectWrapper ul a.selected {
	background: #707676;
	color: #404040;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background: #fcb043;
	color: #fff;
}
/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {float: left;display:block;	}
.jqTransformRadio {
	background: transparent url(../images/radio.png) no-repeat center top;
	vertical-align: middle;
	height: 19px;
	width: 19px;
	display:block;/*display: -moz-inline-block;*/
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked { background-position: center bottom;}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}

.jqTransformTextarea{
    display: inline-block;
    width: 220px;
    padding: 0;
    margin-left: -4px;
}
#jqTransformTextarea-ml{
    width: 0;
}
#form1 input {
	position: relative;
	color: #333;
	line-height: 25px;
	padding: 1px 6px;
	width: 278px;
	height: 25px;
	outline: none;
	box-shadow: none;
	font-size: 12px;
	margin: -1px 0 0 -1px;
}
#form1 textarea {
	position: relative;
	color: #333;
	line-height: 24px;
	padding: 0px 8px;
	width: 277px;
	height: 117px;
	overflow: auto;
	outline: none;
	resize: none;
	border: 1px solid #2f2f2f;
	background-color: #FFFFFF;
}
#form1 label {
    display:inline-block;
    min-height: 36px;
    position: relative;
    width: 299px;
}
#form1 label.message{
   width: 382px;
}
#form1 label span,#form1>div>span {
    width: 97px;
}
#form1 label span.w3, #form1 > div > span.w3 {
    width: 85px;
}
#form1 span{
    position: relative;
    display: inline-block;
    line-height: 25px;
}
input, select, textarea {
    font-family: Tahoma, serif;
    vertical-align:middle;
    font-weight:normal;
    font-size: 10px;
}
.col1{
    display: inline-block;
    width: 300px;
    float: left;
}
.col2{
    display: inline-block;
    width: 381px;
    float: left;
}
